/* CSS declarations go here */
#login-buttons a, .accounts-dialog a {
  text-decoration: none;
}

* { padding: 0; margin: 0;}

html {
  height: auto;
  width: auto;
  /*overflow: hidden;*/

}

body {

}

#login-buttons a, .accounts-dialog a {
  color:white;
}

.circle {
  display: block;
  background-color: #f7f7f7;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f7f7f7), to(#e7e7e7));
  background-image: -webkit-linear-gradient(top, #f7f7f7, #e7e7e7);
  background-image: -moz-linear-gradient(top, #f7f7f7, #e7e7e7);
  background-image: -ms-linear-gradient(top, #f7f7f7, #e7e7e7);
  background-image: -o-linear-gradient(top, #f7f7f7, #e7e7e7);
  color: #a7a7a7;
  margin: 36px;
  width: 50px;
  height: 50px;
  position: relative;
  text-align: center;
  line-height: 144px;
  border-radius: 50%;
  box-shadow: 0px 3px 8px #aaa, inset 0px 2px 3px #fff;
}

.row {
  margin-right: 0;
  margin-left: 0;
}

.accounts-dialog {
  background: white;
}
